body {
  font-family: "Roboto", sans-serif;
  background-color: #db4949;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 0;
}
nav {
  margin: 20px 0;
  text-align: center;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.hero {
  /*BERANDA*/
  min-height: 100vh;
  background: url("https://placehold.co/1200x400") no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h2 {
  font-size: 3em;
  font-family: "Playfair Display", serif;
}
.values,
.cta,
.footer {
  padding: 40px 20px;
  text-align: center;
}
.values h2,
.cta h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin-bottom: 20px;
}
.values p,
.cta p {
  font-size: 1.2em;
  line-height: 1.6;
}
.cta button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}
.footer p {
  margin: 0;
  font-size: 0.9em;
}
